<app-encabezado></app-encabezado>
<button mat-stroked-button color="primary" style="margin-left: 6%; margin-top: 2%">{{dimension}}</button>
<div style="width: 40%; margin-left: 27%; margin-top: 5%">
  <h2 style="text-align: justify;">
    Responda cada una de las preguntas. Algunas preguntas en caso de que su respuesta sea afirmativa, automáticamente habilitará una pregunta relacionada con la anterior. Tenga en cuenta que debe diligenciar todas las preguntas, si no las completa la información de la dimensión no será guardada, de lo contrario seleccione el botón "GUARDAR". <br>
    <br>
    Nota: Una vez guardada la información no podrá ser editada las respuestas.
  </h2>
</div>
<h2 style="margin-left: 44%">
  ¡GRACIAS!
</h2>
<div class="contenedor-row">
  <button mat-raised-button color="primary"
          style="margin-top: 20px; width: 100px; margin-left: 25%" (click)="volver();">VOLVER</button>
  <button mat-raised-button color="primary"
          style="margin-top: 20px; width: 100px; margin-left: 33%" (click)="siguiente();">SIGUIENTE</button>

</div>
